@charset "UTF-8";

.clear {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: PingFangSC-Light,-apple-system,PingFang SC,Helvetica Neue,Helvetica,Microsoft YaHei,Arial,sans-serif;
}

.app-red-top {
  height: 3px;
  background: #c12838;
}

.navbar-default {
  height: 100px;
  /* 老的 Firefox */
  -webkit-box-shadow: 1px 1px 5px #777;
          box-shadow: 1px 1px 5px #777;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  margin-top: 33px;
  padding-left: 70px;
  font-size: 28px;
}

.navbar-default .navbar-nav > li {
  margin-top: 33px;
}

.navbar-default .navbar-nav > li > a:hover {
  background: #e6e6e6;
}

.navbar-default .navbar-nav > li .btn:hover {
  background: #FFD700;
}

.navbar-default .navbar-nav > li .btn-info {
  margin-right: 30px;
  background: #f8d615;
}

.navbar-default .navbar-nav > li .btn-default:hover {
  background: #fafafa;
}

.navbar-default .navbar-nav > .active > a {
  background: #f8d615;
}

.navbar-default .navbar-nav > .active > a:hover {
  background: #f8d615;
}

.navbar-default .btn {
  margin: 8px 5px;
  padding: 5px;
  border: 0;
}

.welcome-table-nav {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.welcome-table-nav .nav-pills {
  display: inline-block;
}

.welcome-table-nav .nav-pills a {
  cursor: pointer;
  color: #636b6f;
  padding: 0 3px;
  margin: 0 3px;
  border-radius: 1px;
}

.welcome-table-nav .nav-pills > li.active > a {
  background-color: #5eb1e7;
}

.more {
  text-decoration: none;
  color: #636b6f;
}

.more:hover {
  text-decoration: none;
}

.welcome-recommend {
  margin-top: 20px;
}

.welcome-recommend > .img-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.welcome-recommend hr {
  margin: 5px 0 0 0;
}

.welcome-recommend .full-area {
  margin-top: 2px;
  padding-top: 5px;
  height: 60px;
  display: block;
  position: relative;
}

.welcome-recommend .full-area > .left-area {
  float: left;
  height: 100%;
  display: inline-block;
  padding: 5px 15px 5px 15px;
}

.welcome-recommend .full-area > .left-area img {
  float: left;
  height: 40px;
  width: 40px;
}

.welcome-recommend .full-area > .right-area {
  display: inline-block;
  float: left;
}

.welcome-recommend .full-area > .right-area > a {
  color: #636b6f;
}

.welcome-recommend .full-area > .right-area > a > small {
  padding: 0 5px;
  border-left: 1px solid #636b6f;
}

.welcome-recommend .full-area > .right-area > .label {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #5eb1e7;
}

.welcome-banner {
  max-height: 320px;
}

.welcome-banner .banner-form {
  width: 280px;
  position: absolute;
  right: 150px;
  top: 50px;
  z-index: 10;
}

.welcome-banner > span {
  font-size: 20px;
  cursor: pointer;
  right: 15px;
  top: 15px;
  position: absolute;
  z-index: 1;
}

.welcome-banner .banner-text {
  position: absolute;
  top: 50px;
  left: 150px;
}

.welcome-banner .banner-text > h4 {
  margin-top: 20px;
}

.welcome-banner .banner-text > p {
  margin-top: 30px;
}

.btn-register {
  padding: 1px 5px;
  color: #636b6f;
  background: #f8d615;
}

.welcome-store {
  min-height: 100px;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.welcome-store .store-left {
  display: inline-block;
  width: 10%;
}

.welcome-store .store-right {
  float: left;
  display: inline-block;
  width: 90%;
  color: #000;
}

.welcome-store .store-right > p {
  margin-top: 10px;
}

.welcome-store:hover {
  background: #e6e6e6;
}

.rating-all {
  display: inline-block;
}

#auth-check .auth-part {
  width: 100%;
  height: 350px;
  margin: 40px 0;
}

#auth-check .register-part {
  display: inline-block;
  width: 48%;
  float: left;
  padding: 0 40px;
  border-right: 1px solid #e6e6e6;
}

#auth-check .login-part {
  padding: 0 40px;
  display: inline-block;
  width: 48%;
  float: left;
}

#auth-check .login-part .third-party {
  margin-top: 60px;
}

#auth-check .login-part .third-party a {
  color: #636b6f;
  text-decoration: none;
  padding: 5px;
}

.input-group .input-group-addon > a {
  text-decoration: none;
  color: #2a2a2a;
}

