.job-title {
  h3 {
    color: #000;
    margin: 30px 0 20px 0;
  }
  .deliver-area {
    margin-top: 22px;
    margin-bottom: 5px;
    > span {
      margin-left: 10px;
    }
  }
  .collect-area {
    >span {
      margin-left: 10px;
    }
  }
}

.job-detail {
  .detail-title {
    color: #000;
  }
  ol {
    margin-left: 18px;
  }

}

.similar-job-detail {
  .similar-search {
    .panel-body {
      background: #5eb1e7;
      .search {
        width: 70%;
        display: inline-block
      }
      > .btn {
        width: 29%;
      }
      >.close {
        padding: 0;
        width: 2px;
        position: absolute;
        top: 2px;
        right: 35px;
      }
      >span {
        color: #fff;
      }
    }
  }
}

.job-comment {
  .comment-grade-btn {
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 40px;
    display: inline-block;
    .btn-default {
      display: block;
      border: 0;
      width: 100%;
      padding: 0;
    }
  }
}

.comment-edit {
  .btn-primary {
    margin-top: 10px;
  }
}

#job-comment-editor {
  .w-e-toolbar {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
  .w-e-text-container {
    height: 200px !important;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
}