.user-banner {
  background: #5eb1e7;
  padding: 20px;
  color: #fff;
  .user-name {
    padding: 5px;
    text-align: center;
    font-size: 15px;
    //color: #5eb1e7;
  }
  .img-avatar {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 10px;
  }
  .edit-banner-info {
    margin-top: 30px;
    a {
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      color: #f6f6f6;
    }
    .fa {
      width: 50px;
      text-align: center;
    }
  }
  .reputation-div {
    margin: 30px 0 0 15px;
  }
  .ocean {
    > .ocean-middle {
      position: absolute;
      top: 50px;
      right: 220px;
      > .shark {
        position: relative;
        width: 50%;
        right: -50px;
        top: -30px;
      }
      > .fishes {
        position: relative;
        width: 20%;
        right: -60px;
      }
    }
    > .ocean-bottom {
      position: absolute;
      top: 100px;
      right: 0;
      > .sea-weed {
        position: relative;
        right: 130px
      }
      > .coral {
        position: relative;
        right: 50px
      }
      > .barnacle {
        position: relative;
        right: 0
      }
    }
  }
}

.user-content {
  margin-top: 20px;
  .deliver-status {
    .table {
      .able-click {
        background: #FCF8E3;
        cursor: pointer;
      }
    }
  }
  .list-group  {
    .list-group-item {
      padding: 4px 15px;
      margin-bottom: 3px;
      border: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .active {
      background: #eee;
      color: #000;
    }
  }
  .panel-resume-progress {
    background: #FCF8E3;
    border: 1px solid #FBEED5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    .panel-heading {
      font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
      color: #8A6D3B;
      padding: 0;
      background: transparent !important;
      border-bottom: 0 !important;
    }
    .panel-body {
      padding: 5px 0 0;
      .progress {
        margin-bottom: 5px;
        height: 20px;
      }
    }
  }
  .black-sentence {
    color: #000;
  }
  .follow-num {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .no-top {
    margin-top: 10px;
  }
  .panel-heading {
    background: #F5F5F5 !important;
  }
  .panel-default {
    .list-title {
      padding: 0;
      margin: 0;
      color: #999999;
    }
    hr {
      margin-top: 0;
    }
  }
  .user-private-info {
    .btn-link {
      padding: 0;
      text-decoration: none;
    }
    .user-avatar {
      border: 2px solid #5eb1e7;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }
}

.btn-reputation {
  background: #FFD700;
  padding: 10px;
  color: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}